<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdg.campus.korea.team1.mapper.AlibiMapper">
  <resultMap id="alibiMap" type="Alibi">
    <id property="id" column="id"/>
    <result property="requestUser" column="request_user"/>
    <result property="title" column="title"/>
    <result property="location" column="location"/>
    <result property="dDay" column="d_day"/>
    <collection property="need" javaType="ArrayList" column="id" ofType="Need" select="findNeedForAlibi"/>
  </resultMap>

  <select id="findById" resultMap="alibiMap">
    SELECT *
    FROM alibi
    WHERE id = #{id}
  </select>

  <select id="findNeedForAlibi" resultType="Need">
    SELECT *
    FROM need
    WHERE alibi_id = #{id}
  </select>

  <select id="findAll" resultMap="alibiMap">
    SELECT *
    FROM alibi
  </select>

  <select id="findByRequestUser" resultMap="alibiMap">
    SELECT *
    FROM alibi
    WHERE request_user = #{RequestUser}
  </select>

  <select id="findByParam" resultMap="alibiMap">
    SELECT *
    FROM alibi
    <where>
      <if test="@org.springframework.util.StringUtils@hasText(location)">
        location = #{location}
      </if>
      <if test="@org.springframework.util.StringUtils@hasText(requestUser)">
        AND request_user = #{requestUser}
      </if>
    </where>
  </select>

  <update id="update" parameterType="alibi">
    UPDATE alibi
    SET request_user=#{requestUser}, title=#{title}, d_day=#{dDay}, location=#{location}
    WHERE id = #{id}
  </update>

  <insert id="insertNeed" parameterType="need">
    INSERT INTO need
    (alibi_id, tag)
    VALUES(#{alibiId}, #{tag});
  </insert>

  <insert id="insertAlibi" parameterType="alibi" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO alibi
    (request_user, title, d_day, location)
    VALUES(#{requestUser}, #{title}, #{dDay}, #{location})
  </insert>

  <delete id="deleteNeed">
    DELETE FROM need
    WHERE alibi_id = #{alibiId}
  </delete>

  <delete id="deleteAlibi">
    DELETE FROM alibi
    WHERE id = #{id}
  </delete>

</mapper>