<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdg.campus.korea.team1.mapper.TestMapper">
  <select id="findAll" resultType="TestModel">
    SELECT id, name, age, email
    FROM test_user
  </select>

  <select id="findById" resultType="TestModel">
    SELECT id, name, age, email
    FROM test_user
    WHERE id = #{id}
  </select>

  <select id="findByName" resultType="TestModel">
    SELECT id, name, age, email
    FROM test_user
    WHERE name = #{name}
  </select>

  <update id="update" parameterType="TestModel">
    UPDATE test_user
    SET name=#{name}, age=#{age}, email=#{email}
    WHERE id = #{id}
  </update>

  <insert id="insert" parameterType="TestModel">
    INSERT INTO test_user
    (name, age, email)
    VALUES(#{name}, #{age}, #{email});
  </insert>

  <delete id="delete" parameterType="int">
    DELETE FROM test_user
    WHERE id = #{id}
  </delete>

</mapper>